/* BACKGROUND */
body {
  max-width: 100%;
  height: auto;
  font-family: Inter, Arial, Helvetica, sans-serif;
  background: url("./images/background.png") no-repeat fixed center;
}

/* HEADER */

/* main box */
.flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-links a {
  color: #172b4d;
  text-align: center;
}

.outer-container {
  flex-direction: column;
  margin-top: 3%;
}

/* main container */
.main-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10%;
  width: 70%;
  padding: 0 17%;
}

h1 {
  font-weight: 800;
  font-size: 40px;
  margin-top: 1%;
}

p {
  text-align: center;
  padding: 0 17%;
  width: 60%;
  margin-top: 2%;
  font-size: large;
}

/* items inside nav-bar */
.flex-item {
  margin: auto 3%;
}

/* Links inside nav-bar items */
.flex-item a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* Top navigation links */
.outer-container a:hover {
  color: #36b37e;
}

/* First Heading */
.intro {
  color: #172b4d;
}

/* Second Heading */
.profession {
  color: #36b37e;
}

/* tab and laptop */
@media only screen and (min-width: 375px) {
  /* show normal navbar */
  .remove-nav-item {
    visibility: visible;
  }

  /* hide logo */
  #logo {
    visibility: hidden;
  }

  /* hide link button */
  #link {
    visibility: hidden;
  }
}

/* mobile first version */
@media only screen and (max-width: 768px) {
  /* hide normal navbar */
  .remove-nav-item {
    visibility: hidden;
  }

  /* show logo */
  #logo {
    visibility: visible;
  }

  /* show link button */
  #link {
    visibility: visible;
  }

  /* background shrink */
  body {
    background-repeat: no-repeat;
    background-size: 170%;
    background-position: center;
  }
}

/* BOTTOM */
i {
  font-size: 200%;
}

ul {
  margin-top: 2%;
  overflow: hidden;
  list-style-type: none;
  text-align: center;
}

li {
  display: inline-block;
  margin-left: 2%;
}


.lower-container a:hover {
  color: blue;
}
